@using MvcKutuphane.Models.Entity
@model List<Tbl_Mesajlar>
@{
    ViewBag.Title = "MesajIndex";
    Layout = "~/Views/Shared/_LayoutPanel.cshtml";
    DBKUTUPHANEEntities db = new DBKUTUPHANEEntities();
    string mail = (string)Session["MAIL"];
    var userInfo = (from x in db.Tbl_Uyeler where x.MAIL == mail select new { adSoyad = x.AD + " " + x.SOYAD, photo = x.USERPHOTO }).FirstOrDefault();

}
    

<table class="table table-hover text-center">
    <thead class="table table-dark">
        <tr>
            <th>#</th>
            <th>Gönderen</th>
            <th>Konu</th>
            <th>Mesaj İçeriği</th>
            <th>Mesaj Tarihi</th>
            <th>İşlem</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var msj in Model)
        {
            string getPhotoUser = db.Tbl_Uyeler.Where(x => x.MAIL == msj.GONDEREN).Select(x => x.USERPHOTO).FirstOrDefault().ToString();

            <tr>
                <td><img class="rounded-circle" src="@getPhotoUser" / width="50px" height="50px"></td>
                <td>@msj.GONDEREN</td>
                <td>@msj.KONU</td>
                <td>@msj.ICERIK</td>
                <td>@msj.TARIH</td>
                <td class="d-flex justify-content-around">
                    <a href="#" class="btn btn-success">Yanıtla</a>
                    <a href="#" class="btn btn-warning text-white">Sil</a>
                </td>
            </tr>
        }
    </tbody>
</table>

