@using MvcKutuphane.Models.Entity
@model List<Tbl_Kitap>
@{
    ViewBag.Title = "KitapList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />


<a href="KitapEkle" class="btn btn-dark d-flex justify-content-center w-25 m-auto"><i></i>Kitap Ekle</a>
<div class="input-group mb-3 mt-3 mb-3">
    <form class="input-group-append m-auto w-50">
    <input type="text" name="adi" class="form-control" placeholder="Kitap Adı Giriniz">
        <button class="text-primary text-decoration-none input-group-text border border-info"><i class="fa-solid fa-magnifying-glass"></i></button>
    </form>
</div>
<table class="table table-hover mt-4 text-center">
    <thead class="table-dark">
        <tr>
            <th>ID</th>
            <th>AD</th>
            <th>KATEGORI</th>
            <th>YAZAR</th>
            <th>BASIM YILI</th>
            <th>YAYIN EVİ</th>
            <th>SAYFA SAYISI</th>
            <th>DURUM</th>
            <th>DÜZENLE</th>
        </tr>
    </thead>
    <tbody class="table-warning">
        @foreach (var x in Model)
        {
            <tr>
                <td>@x.ID</td>
                <td>@x.AD</td>
                <td>@x.Tbl_Kategori.AD</td>
                <td>@x.Tbl_Yazar.AD @x.Tbl_Yazar.SOYAD</td>
                <td>@x.BASIMYIL</td>
                <td>@x.YAYINEVI</td>
                <td>@x.SAYFASAYISI</td>
                @{
                    var gelenDeger = x.DURUM == true ? "Bulunmakta" : "Emanet Edildi !";
                }
                <td>@gelenDeger</td>
                <td class="d-flex justify-content-around">
                    <a href="~/Kitap/KitapGuncelle/@x.ID" class="btn btn-info"><i class="fa-solid fa-marker mr-2"></i>Güncelle</a>
                    <a href="KitapSil/@x.ID" class="btn btn-danger"><i class="fa-solid fa-trash mr-2"></i>Sil</a>
                </td>
            </tr>
        }
    </tbody>

</table>
